{% extends "::base.html.twig" %}

{% block title %}Admin{% endblock %}

{% block body %}
{% form_theme user_create_form 'bootstrap_3_layout.html.twig' %}

<h2>User Management System</h2>
{{ form_start(user_create_form) }}
    {{ form_widget(user_create_form.first, {'attr': {'placeholder': 'First Name'}}) }}
    {{ form_widget(user_create_form.last, {'attr': {'placeholder': 'Last Name'}}) }}
{{ form_end(user_create_form) }}

<br>

{{ form_start(user_delete_form) }}
    {{ form_widget(user_delete_form.name) }}
{{ form_end(user_delete_form) }}

<br>

{{ form_start(assign_user_form) }}
    {{ form_widget(assign_user_form.users) }}
    {{ form_widget(assign_user_form.groups) }}
{{ form_end(assign_user_form) }}

<br>

{{ form_start(delete_user_group_form) }}
    {{ form_widget(delete_user_group_form.users) }}
    {{ form_widget(delete_user_group_form.groups) }}
{{ form_end(delete_user_group_form) }}

<br>

{{ form_start(group_create_form) }}
    {{ form_widget(group_create_form.name, {'attr': {'placeholder': 'Name'}}) }}
{{ form_end(group_create_form) }}

<br>

{{ form_start(group_delete_form) }}
    {{ form_widget(group_delete_form.name) }}
{{ form_end(group_delete_form) }}

<br>

{% endblock %}
