{% extends "::base.html.twig" %}

{% block title %}{{ outcome }}{% endblock %}

{% block body %}

<h2>{{ outcome }}</h2>
<p>{{ msg  }}</p>
{{ form_start(go_back_form) }}
{{ form_end(go_back_form) }}

{% endblock %}
